
.educationpage{
  margin: 15px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(1, 36, 1,.85);

  display: flex;
  flex-direction: column;
  gap: 10px;

}

.intro{
  margin-inline: 20%;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  font-family: 'Exo 2';
  font-weight: bold;
  color: white;
 }
 .title{
  text-align: center;
  font-family: "Daruma";
  font-weight: bold;
  font-size: 1.4rem;
 }
 .hz-separator{
  border: 1px solid rgb(68, 67, 67);
 }
 .info{
  padding-inline: 40px;
  text-align: center;
  font-size: 1rem;
 } 


 .educationItem{
  position: relative;
  min-height: 500px;
  margin: 5px 80px;
  border-radius: 90px 10px;
  border: 1px solid rgba(255,255,255,.5);
  background-color: rgba(0,0,0,1);
  box-shadow: 40px 40px 10px black;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;

  .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      justify-self: center;
      opacity: .5;
    }
  }

  
  .educationItemContent{
    z-index: 1;
    margin: auto;
    align-items: center;
    .centeredInfo{
      background-color: rgba(0,0,0,.7);
      align-self: center;
      padding: 20px;
      border-radius: 50px;
      align-items: center;
      margin: 10px;

      display: flex;
      flex-direction: column;
      h2{
        color: white;
        padding: 5px;
        margin: 10px auto;
        font-size: 1.1em;
      }
      h3{
        color: white;
        padding: 5px;
        margin: 10px auto;
        font-size: .9rem;
        margin-bottom: 0;
      }
      ul{
        list-style: none;
        color: white;
        font-size: .9rem;
        padding: 0;
      }
      li{
        font-weight: bold;
        color: white;
        font-size: .75rem;
      }
      a{
        color: white;
      }
      .dateAttended{
        font-weight: bold;
        padding: 10px;
        color: white;
        font-size: .7rem;
      }

    }
  }

  
 }


.academicAchievements{
  margin-block: 40px;

  > h2{
    text-align: center;
    color: white;
    font-size: 1.4rem;
  }
  .corkboard {
    background-color: rgba(0, 0, 0, 0.422);
    border-radius: 10px;
    margin: auto;
    max-width: 1500px;

    position: relative;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    .certificateItem{
      width: 400px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .frame{
        position: relative;
        > img{
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        section{
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          transform: translate(-50%, -50%) scale(.8);
          img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .note{
        position: relative;
        width: 400px;
        margin: -10px;
        img{
          width: 100%;
          height: 100%;
        }

        .noteText{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 70%;

          h3{
            font-size: 1.5rem;
            text-align: center;
          }
          section{
            text-align: center;
            font-weight: bold;
          }
        }
      }
    }
    .stickyNote{
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: 200px;
      z-index: 4;
      transform: translate(-50%,100%) rotate(14deg);

      img{
        width: 100%;
        height: 100%;
      }
      .stickyNoteContent{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: bold;
        font-family: "Daruma";
      }
    }
  } 
}


.tack{
  position: absolute;
  width: 40px;
  z-index: 5;
  img{
    width: 100%;
    height: 100%;
  }
}


@media (max-width:1100px) {
  .intro{
    margin: auto;
  }
  .educationItem{
    margin: 5px 20px;

    .educationItemContent{
      .centeredInfo{
        h2{
          font-size: .9em;
          text-align: center;
        }
        h3{
          font-size: .8rem;
          text-align: center;
        }
        ul{
          font-size: .7rem;
        }
        li{

          font-size: .65rem;
        }
        a{
          color: white;
        }
        .dateAttended{
          font-size: .6rem;
        }

      }
    }
  }

}
 
 @media (max-width:500px) {
  .educationpage{
    padding-inline: 20px;
  }
  .info{
    font-size: .8rem;
    padding-inline: 0;
  }

  .educationItem{
    box-shadow: 10px 10px 20px black;
    margin: 5px 0;
    padding: 0;
    .educationItemContent{
      width: 100%;
      height: 100%;
      .centeredInfo{
        width: 100%;
        height: 100%;
        margin: 0;
        justify-content: center;
        background-color: transparent;
      }
      
    }

    .imgContainer{
      img{
        opacity: .35;
      }
    }
  }
 }