.experiencepage{
  margin: 15px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(36, 0, 0,.85);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro{
  margin-inline: 20%;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  font-family: 'Exo 2';
  font-weight: bold;
  color: white;
 }

 .title{
  text-align: center;
  font-size: 45px;
  font-family: "Daruma";
  font-weight: bold;
  color: white;
 }
 .hz-separator{
  border: 1px solid rgb(68, 67, 67);
  margin-block: 12px;
 }
 .info{
  padding-inline: 40px;
  text-align: center;
  font-size: 35px;
 }

 .horizScrollable{
  color: white;
  width: 100%;
  height: 450px;
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;

  &::-webkit-scrollbar {
    height: 3px;
  } 

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

 }


 @keyframes slideInJobInfo {
  0%{
    opacity: 0;
    transform: translateX(0);
  }
  100%{
    opacity: 1;
    transform: translateX(540px);
  }
 }

 .job:hover{
  .jobInfo{
    opacity: 0;
  }
  .jobLeft img{
    opacity: 1;
  }
  .expander{
    width: 575px;
    height: 100%;
  }
  .jobRight{
    animation: slideInJobInfo .2s ease forwards;
  }
 }

 .job{
  display: flex;  
  border-radius: 30px;
  padding: 25px;
  background-color: rgb(24, 1, 1);
  position: relative;

  border: 5px solid yellow;
  .jobLeft{
    border-radius: 30px;
    flex-shrink: 0;
    margin: 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.411);
    height: 100%;
    min-width: 500px;

    img{
      transition: opacity .5s ease;

      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: .2;
    }
    .jobInfo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity .5s ease;

      h3{
        font-size: 1.8em;
        text-align: center;
      }
      h4{
        font-size: 1.3em;
        text-align: center;
      }
      p {
        margin-inline: 30px;
      }
      section{
        text-align: center;
      }
    }
  }

  .expander{
    width: 0;
    transition: width .1s;
  }

  .jobRight{
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    border-radius: 0 30px 30px 0;
    padding: 25px;
    background-color: rgb(24, 1, 1);
    transform: translateX(0px);
    opacity: 0;
    overflow-y: auto;
    header{
      text-align: center;
      h3, h4{
        margin: 5px;
        /* font-size: 1.3em; */
      }
      margin-bottom: 10px;
    }
    p, ul{
      /* font-size: 1.1em; */
      padding: 30px;
    }
    ul{
      margin-left: 12px;
    }

    &::-webkit-scrollbar {
      width: 4px;
    } 

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }
  }

 }

 .skillsGrid{
    width: 1800px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 50px;
 }

 .skillsGridItem{
  border: 2px solid;
  border-radius: 40px;
  padding-inline: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  font-family: 'Exo 2';
  font-weight: bold;

  background-color: rgb(218, 206, 206);

  background-color: antiquewhite;
  padding-inline: 5%;

  margin: 10px;

  & h3{
    font-family: "Daruma";
    text-align: center;
  }
 }

 .skillsNavBar{
  display: flex;
  flex-direction: column;
  border: 2px solid;
  box-shadow: 0 0 10px rgb(0, 0, 0);

  border-radius: 20px;
  padding: 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.801);

  font-family: "Exo 2";
  font-weight: 600;
  

  & section:nth-of-type(1){
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;

    & input{
      padding: 10px;
      max-width: 350px;
      font-size: inherit;
      font-family: "Exo 2";
      border-radius: 10px;

      &:focus{
        outline: 1px solid rgba(128, 128, 128, 0.404);
      }
    }
  }
  & section:nth-of-type(2){
    max-height: 400px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.801);
    & ul{
      padding: 0;
      margin: 0;
    }
    & li{
      border-top: 1px solid rgba(128, 128, 128, 0.519);
      border-bottom: 1px solid rgba(128, 128, 128, 0.519);;
      list-style: none;
      margin-block: 3px;
      font-size: 1.2rem;

      &:hover{
        background-color: black;
        color: white;
        cursor: pointer;
      }
    }
  }
 }


 .page_divider{
  display: flex;
  flex-direction: column;
 }

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(8px);
  }
}
.skillEnter li{
  animation: appear .3s ease forwards;
  opacity: 0;
}

.skillLeave li{
  animation: disappear .3s ease forwards;
  opacity: 1;
}

@media (max-width:1900px) {

  .skillsGrid{
    width: auto;
    display: flex;
    flex-direction: column;
  }

}
 
 @media (max-width:1100px) {
  .page_divider{
    flex-direction: column;
  }


  .skillsGrid{
    font-size: .6rem;
  }
  .skillsNavBar *{
    font-size: .6rem !important;
  }

  .intro{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    font-size: 1rem;
  } 
  .title{
    font-size: 1.2rem;
  }
  .info{
    font-size: .8rem;
  }
}
 
 @media (max-width:500px) {
  .intro{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .title{
    font-size: 1rem;
  }
  .info{
    font-size: .5rem;
  }
  .skills{
    font-size: .5rem;
  }
 }