
.projectspage{
  position: relative;
  margin: 15px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(1, 36, 50,.85);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes shimmer-rotate {
  to {
    transform: rotate(360deg);
  }
}

.intro::before {
  content: "";
  position: absolute;
  inset: -300%;

background: conic-gradient(
  transparent 0deg,
  rgba(255, 255, 255, 0.02) 15deg,
  rgba(255, 255, 255, .05) 35deg,
  rgba(255, 255, 255, 0.02) 55deg,
  transparent 70deg,

  transparent 180deg,
  rgba(255, 255, 255, 0.02) 195deg,
  rgba(255, 255, 255, 0.05) 215deg,
  rgba(255, 255, 255, 0.02) 235deg,
  transparent 250deg
);

  animation: shimmer-rotate 3s linear infinite;
  pointer-events: none;
}

 .intro{
  position: relative;
  overflow: hidden;

  border-radius: 60px;
  margin-inline: 20%;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  font-family: 'Exo 2';
  font-weight: bold;
  color: white;
 }
 .title{
  text-align: center;
  font-size: 1.4rem;
  font-family: "Daruma";
  font-weight: bold;
  color: white;
 }
 .hz-separator{
  border: 1px solid rgb(68, 67, 67);
 }
 .info{
  padding-inline: 40px;
  text-align: center;
  font-size: 1rem;
 }

 @media (max-width:1100px) {
  .intro{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    font-size: 1rem;
  }
  .title{
    font-size: 1.2rem;
  }
  .info{
    font-size: .8rem;
  }
}
 
 @media (max-width:500px) {
  .intro{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .title{
    font-size: 1rem;
  }
  .info{
    font-size: .5rem;
  }
 }