
.skillspage{
  margin: 15px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(28, 1, 29,.85);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro{
  margin-inline: 20%;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  font-family: 'Exo 2';
  font-weight: bold;
  color: white;
 }
 .title{
  text-align: center;
  font-size: 75px;
  font-family: "Daruma";
  font-weight: bold;
 }
 .hz-separator{
  border: 1px solid rgb(68, 67, 67);
 }
 .info{
  padding-inline: 40px;
  text-align: center;
  font-size: 35px;
 } 

@media (max-width:1100px) {
  .intro{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    font-size: 1rem;
  }
  .title{
    font-size: 1.2rem;
  }
  .info{
    font-size: .8rem;
  }

}
 
 @media (max-width:500px) {
  .intro{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .title{
    font-size: 1rem;
  }
  .info{
    font-size: .5rem;
  }
 }