.bar{
  position: relative;
  border: 1px solid;
  border-radius: 45px;
  background-color: rgb(218, 206, 206);
  background: linear-gradient(to right, rgb(236, 222, 222),rgb(211, 172, 172) );
  box-shadow: 5px 5px 10px rgba(141, 42, 42, 0.5);
  margin: 0px 65px 20px 65px;
  padding: 5px 30px 70px 30px;
  font-size: 1.5rem;
  font-family: 'Exo 2';
  font-weight: bold;
  transition: height .3s, transform .2s;
  overflow: hidden;
  &:hover{
    transform: scale(1.02);
  }
}
.dropdown-ref{
  position: relative;
}
.dropdown{ 
  font-size: 50px;
  font-family: 'Daruma';

  padding-bottom: 25px;
  position: absolute;
  top: -10px;
  left: 15px;
  transform-origin: center;
  transition: transform .1s;

  &:hover{
    transform: scale(1.6);
    color: white;
    cursor: pointer;
  }
}
.rotateDropdown{
  transform: rotate(90deg);
  &:hover{
    transform: scale(1.6) rotate(90deg);
  }
}

.bar h2{

  text-align: center;
  text-decoration: underline;
}


 @media (max-width:1100px) {
  .bar{
    font-size: .5rem;
    padding-top: 15px;
    padding-bottom: 6px;
    margin-left: 50px;
    width: 85%;
  }
}
 @media (max-width:500px) {
  .bar{
    font-size: .4rem;
    padding-top: 20px;
  }
 } 