
.inside{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 70px;
  padding-block: 10px;
  gap: 12px;
}

.inside img{
    float: right;
}

.description, .concepts{
  font-size: .9rem;
  align-self:flex-start;
}
 .description{
  flex:1.1;
  padding-right: 5px;
 }
 .concepts{
  flex: 1;
 }
 
.demo_imgs_car{  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.demo_imgs_car img{
  width: 24%;
  border-radius: 30px;
  align-items: center;
  gap: 5px;
}
.demo_imgs_physics{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.demo_imgs_physics img{
  width: 24%;
  border-radius: 30px;
  align-items: center;
  gap: 5px;
}
.demo_imgs_platformer{
  display: flex;
  justify-content: space-between;
}
.demo_imgs_platformer img{
  width: 24%;
  border-radius: 30px;
  align-items: center;
  gap: 5px;
}

.demo_imgs_models{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.demo_imgs_models img{
  width: 32%;
  border-radius: 30px;
  gap: 5px;
}

 @media (max-width:1100px) {
  .inside{
    padding-inline: 20px;
  }
  .inside img{
    width:50%;
  }
  .inside h2{
    font-size: .7rem;
  }
  .description, .concepts{
    font-size: .5rem;
  }
  .lagelati_img img{
    width: 80%;
  }
  .demo_imgs_car, .demo_imgs_physics, .demo_imgs_platformer, .demo_imgs_models{
    flex-direction: column;
    gap: 10px;
  }
  .demo_imgs_car img, .demo_imgs_physics img, .demo_imgs_platformer img, .demo_imgs_models img{
    width: 100%;
  }
}
 @media (max-width:500px) {
  .inside{
    padding-inline: 10px;
  }
  .inside h2{

    font-size: .5rem;
  }
  .description,.concepts{
    font-size: .4rem;
  }
  .concepts ul{
    padding-inline: 20px;
  }
  
 } 