
.navbar{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;

  padding: 20px 65px;
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Daruma';
  z-index: 100;
  font-size: .75rem;
}

.link{
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: transform .2s;
  transform-origin: center;
  &:hover{
    transform: scale(1.4);
    cursor: pointer;
  }
}

.highlight{
  color: rgb(219, 176, 248);
  transform: scale(1.5);
  &:hover{
    transform: scale(1.5);
  }
} 

@media (max-width:1100px){
  .navbar{
    font-size: .5em;
    text-align: center;
  }
}
@media (max-width:500px){
  .navbar{
    flex-direction: row;
    font-size: .36rem;
    padding: 15px 25px;
  }
  .highlight{
    transform: scale(1.5);

  }
}
@media (max-height:600px){
  .navbar{
    font-size: .36rem;
    padding-block: 15px;
  }
}