@font-face {
  font-family: 'Daruma';
  src: url('/fonts/DarumadropOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Sigmar-Regular.ttf') format('truetype');
}
@font-face{
  font-family: "Franklin Gothic Medium Mobile";
  src: url("/fonts/Franklin Gothic Medium Regular.ttf") format("truetype");
}

*{
  box-sizing: border-box;
}

html, #root, body{
  margin: 0;
  padding: 0;
  font-size: 25px;
  -webkit-text-size-adjust: 100%;
}
body{
  overflow: hidden;
}

.skipAnimation{
  position: fixed; 
  top: 5px;
  left: 5px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: white;
  background-color: brown;
  font-family: "Daruma";

  &:hover{
    cursor: pointer;
    opacity: .7;
  }
}


.debris{
  position: absolute;
  z-index: 999;
  pointer-events: none;
}

.background{
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  .animationContainer{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(100%); 
    > canvas{
      position: absolute;
      width: 15%;
      right: 100%;
      bottom: 0;
    }

  }
}

.shake{
  animation: aggressiveShake .2s 30 ease-in-out;
  animation-delay: 2.1s;
}

.staticBench{
  position: fixed;
  width: 15%;
  right: 0;
  bottom: 0;
  z-index: -1;

  opacity: 0;
  animation: staticBenchAppears 0s ease forwards;
  animation-delay: 1s;
  img{
    width: 100%;
    height: 100%;
    display: block;
  }
}

.dragIn{
  position: relative;
  animation: slideIn 6s ease-in-out forwards;
  animation-delay: 2s;
}



.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  height: 100dvh;
  overflow: auto;
  background-color:  rgb(243, 220, 117);
  margin: 0;
  position: relative;
  z-index: 2;
  isolation: isolate;
  &::-webkit-scrollbar {
    display: none;
  }}

.hexagon-background {
  position: absolute;

  top: -70px;
  left: 0;
  bottom: -150px;

  width: 100%;
  height: calc(100% + 140px);

  padding-bottom: 70px;

  display: flex;

  pointer-events: none;
  z-index: 0;
  overflow-x: clip;

}

.hex-column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  margin-right: -75px;
  position: relative;
  left: -80px;
}

.hex-column.offset {
  transform: translateY(129px);
}

.hex {
  position: relative;
  z-index: 0;
  width: 300px;
  height: 259.86px;
  flex: 0 0 260px;

  position: relative;
  background: white;

  transform: scale(1.015);

  clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
}

.hex::after {
  content: "";
  position: absolute;
  inset: 2px;

  background: rgb(33, 10, 47);

  clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
}
.falling-hex-layer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  perspective: 1200px;
}

.falling-hex {
  position: absolute;
  width: 300px;
  height: 259.86px;
  transform-style: preserve-3d;
  transform-origin: center center;
  will-change: transform;
}

.routes{
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  position: relative;
  z-index: 2;
}

.rowcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.columncontainer{
  display: flex;  
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}


h1, h2, h2{
  font-family: "Daruma";
}

.skillEnter li{
  animation: appear .3s ease forwards;
  opacity: 0;
  &.skillAnimation{
    animation: emphasizeSkill 1s 2;
    opacity: 1;
  }
}

.skillLeave li{
  animation: disappear .3s ease forwards;
  opacity: 1;
  &.skillAnimation{
    animation: emphasizeSkill 1s 2;
    opacity: 1;

  }
}
@keyframes slideIn{
  0%{
    transform: translateX(100%); 
  }
  20%{
    transform: translateX(96%);
  }

  100%{
    transform: translateX(0%);
  }
}
@keyframes shake{
  0%{
    transform: translate(-3px, -1px); 
  }
  20%{
    transform: translate(2px, 1px);
  }
  40%{
    transform: translate(-3px, -2px);
  }
  60%{
    transform: translate(-2px, 1px);
  }
  80%{
    transform: translate(3px, 3px);
  }
  100%{
    transform: translate(0, 2px)
  }
}

@keyframes aggressiveShake{
  0%{
    transform: translate(-6px, -2px); 
  }
  20%{
    transform: translate(4px, 2px);
  }
  40%{
    transform: translate(-6px, -4px);
  }
  60%{
    transform: translate(-4px, 2px);
  }
  80%{
    transform: translate(6px, 6px);
  }
  100%{
    transform: translate(0, 4px)
  }
}

@keyframes staticBenchAppears {
  to{
    opacity: 1;
  }
}


@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(8px);
  }
}

@keyframes emphasizeSkill {
  0%{
    opacity: 1;
  } 
  50%{
    opacity: .2;
  }
  100%{
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .skipAnimation{
    font-size: .8rem;
  }
}