@font-face {
  font-family: 'Daruma';
  src: url('/fonts/DarumadropOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Sigmar-Regular.ttf') format('truetype');
}
@font-face{
  font-family: "Franklin Gothic Medium Mobile";
  src: url("/fonts/Franklin Gothic Medium Regular.ttf") format("truetype");
}

*{
  box-sizing: border-box;
}

html, #root, body{
  margin: 0;
  padding: 0;
  font-size: 25px;
}
body{
  overflow: hidden;
}

.skipAnimation{
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: white;
  background-color: brown;
  font-family: "Daruma";

  &:hover{
    cursor: pointer;
    opacity: .7;
  }
}
.shakeAnimation{
  animation: shake .2s 20 ease-in-out;
  animation-delay: 2s;
  height: 100vh;
  width: 100vw;
}

.animationContainer{
  width: 100%;
}

.dragIn{
  position: relative;
  transform: translateX(100%); 
  animation: slideIn 4s ease-in-out forwards;
  animation-delay: 2s;
}

.dragIn > canvas{
  position: absolute;

  width: 15%;
  right: 100%;
  bottom: 0;
}
.shakeAnimation > img{
  position: fixed;
  width: 15%;
  right: 0;
  bottom: 0;
  z-index: -1;

  opacity: 0;
  animation: staticBenchAppears 0s ease forwards;
  animation-delay: 1s;
}

@keyframes slideIn{
  0%{
    transform: translateX(100%); 
  }
  20%{
    transform: translateX(96%);
  }

  100%{
    transform: translateX(0%);
  }
}
@keyframes shake{
  0%{
    transform: translate(-3px, -1px); 
  }
  20%{
    transform: translate(2px, 1px);
  }
  40%{
    transform: translate(-3px, -2px);
  }
  60%{
    transform: translate(-2px, 1px);
  }
  80%{
    transform: translate(3px, 3px);
  }
  100%{
    transform: translate(0, 2px)
  }
}

@keyframes staticBenchAppears {
  to{
    opacity: 1;
  }
}

.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  height: 100vh;
  overflow: auto;
  background: linear-gradient(to right, rgb(168, 138, 1), rgb(243, 220, 117));
  margin: 0;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}


.routes{
  flex: 1;
}

.rowcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.columncontainer{
  display: flex;  
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}


h1, h2, h2{
  font-family: "Daruma";
}
